body { margin: 0px; }

.topbar { padding: 8px; background-color: #000000; }
.topbar a { color: #ffffff; text-decoration: none; }
.topbar a:hover { text-decoration: underline; }
.topbar td { padding: 0px 15px 0px 15px; white-space: nowrap; }

.logo { font-family: impact; color: #00bfff; font-size: 32px; }

.fill, .topbar table, .searchBox { width: 100%; }
